.sideHeader {
  width: 250px;
  background-color: #0f172a;
  padding: 20px;
  height: 100vh;
  transition: width 0.3s;
  overflow: hidden;
}

.sideHeader.collapsed {
  width: 80px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.logo button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #8c8c8c;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, padding-left 0.3s;
}

nav ul li a:hover {
  background-color: #2d3748;
  color: white;
}

nav ul li a i {
  margin-right: 10px;
  font-size: 18px;
}

nav ul li a span {
  display: inline;
}

.sideHeader.collapsed nav ul li a span {
  display: none;
}

nav ul li a.active {
  background-color: #3474eb;
  color: white;
}

nav ul li a.active i {
  color: white;
}

nav ul li a.currentPage {
  background-color: #3474eb;
  color: white;
  font-weight: bold; /* Highlight the current page with bold text */
}

nav ul li a.currentPage i {
  color: white;
}
